{% extends "thesis_site/base.html" %}

{% block title %} About {% endblock %}

{% block content %}
    <h2 style="text-align: center; margin: auto"> Developed by,</h2>

    <div class="card-container">
        {% for maker in makers %}
            <div class="card">
                <div class="card-body">
                    <p>Name: {{ maker.name }}</p>
                    <p>ID: {{ maker.id }}</p>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}