{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} Thesis Site {% endblock %}</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    {% block style %} {% endblock %}
</head>
<body>
    {%block nav%}
        <header>
            <nav>
                <ul>
                    <li><a href="{% url 'home' %}">Home</a></li>
                    <li><a href="{% url 'thesis_topics' %}">Thesis List</a></li>
                    <li><a href="{% url 'about' %}">About</a></li>
                    <li><a href="{% url 'add_thesis' %}">Add Thesis </a></li>
                </ul>
            </nav>
        </header>
    {%endblock nav%}

    <div class="base-container">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>