{% extends "thesis_site/base.html" %}

{% block title %} Create thesis {% endblock %}

{% block content %}
    <h1 style="text-align: center">Add New Thesis</h1>
    <form action="{% url 'thesis_edit' thesis.id %}" method="post">
        {% csrf_token %}

        <input type="text" id="title" name="title" value="{{ thesis.title }}" required>

        <input type="text" id="supervisor" name="supervisor" value="{{ thesis.supervisor }}" required>

        <input type="text" id="category" name="category" value="{{ thesis.category }}" required>

        <textarea id="description" name="description" required>{{ thesis_desc.description }}
        </textarea>

        <button type="submit">
            Submit
        </button>
    </form>
{% endblock %}