{% extends "thesis_site/base.html" %}

{% block title %} Create thesis {% endblock %}

{% block content %}
    <div class="container">
        <h1>Welcome to the home page</h1>
        <p>This is a website that contains a collection of thesis papers from different universities.</p>
        <p>It is a platform where students can access thesis papers from different universities and use them as reference materials for their research work.</p>`
        <p>Click on the link below to view the thesis papers</p>

        <a href="{% url 'thesis_topics' %}">Thesis Papers List</a>
    </div>
{% endblock %}