{% extends "thesis_site/base.html" %}

{% block title %} Create thesis {% endblock %}

{% block content %}
    <div class="card-container">
        {% for topic in topics %}
            <div class="card">
                <div class="card-header">
                    <a style="color: #4d4d4d; text-decoration: none;" href="{% url 'thesis_details' topic.TopicNo %}">

                        <h3>{{ topic.TopicNo }}: {{ topic.Title }}</h3>
                    </a>
                </div>

                <div class="card-body">
                    <p>Category: {{ topic.Category }}</p>
                    <p>Supervisor: {{ topic.ThesisSupervisor }}</p>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}