{% extends "thesis_site/base.html" %}

{% block title %} Create thesis {% endblock %}

{% block content %}
    <div class="topic-description">
        <h3> Title: {{ topic.TopicNo }}: {{ topic.Title }} </h3>
        <br>
        <p>
            <strong>Supervisor:</strong> {{ topic.ThesisSupervisor }}
        </p>
        <br>
        <p>
            <strong>Category:</strong> {{ topic.Category }}
        </p>
        <br>
        <p>
            <strong>Description:</strong> {{ topic_desc.Description }}
        </p>
    </div>
{% endblock %}
