{% extends "thesis_site/base.html" %}

{% load static %}
{% block title %} Thesis Details {% endblock %}
{% block style %}
    <link rel="stylesheet" href="{% static 'util_btn.css' %}"> {% endblock %}
<style>

</style>

{% block content %}
    <div class="topic-description">
        <div class='util_header'>
            <h3> Title: {{ topic.Title }} </h3>

            <div class="btns">
                <button>
                    <a href="{% url 'thesis_edit' topic.TopicNo %}">
                        <img src="{% static 'icons/edit.svg' %}" alt="Edit" style="width: 20px; height: 20px;">
                    </a>
                </button>
                <button>
                    <a href="{% url 'thesis_delete' topic.TopicNo %}">
                        <img src="{% static 'icons/delete.svg' %}" alt="Delete" style="width: 20px; height: 20px;">
                    </a>
                </button>
            </div>
        </div>
        <br>
        <p>
            <strong>Supervisor:</strong> {{ topic.ThesisSupervisor }}
        </p>
        <br>
        <p>
            <strong>Category:</strong> {{ topic.Category }}
        </p>
        <br>
        <p>
            <strong>Description:</strong> {{ topic_desc.Description }}
        </p>
    </div>
{% endblock %}
